.card-body{
    background-color: rgb(252, 252, 252);
    border-radius: 22px;

}
    .card {
        width: 230px;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
   

    }

    .card-price {
        font-size: 50px;
    }

    .period {
        font-size: small;
    }

    .fas {
        letter-spacing: 10px;
    }

    .btn {
        opacity: 0.7;
        color:white;
        background-color: #007bff;
        border-radius: 22px;
        width: 85%;
        height: 40px;
        font-size: 10px;
        letter-spacing: 2px;     
 }

 .center{
     padding-left: 12%;
 }
    .card:hover.btn {
        opacity: 1;

    }

    .card:hover {
        margin-top: -1vh;
        margin-bottom: 1vh;

    }

   .space{
    line-height: 32px;   
    padding-left: 5px;
   }
   

